<div class="modal-header bg-danger pt-0">
  <h2 class="modal-title text-center text-white display">Login</h2>
  <button type="button" class="close custom mt-1" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
   <i class="fas fa-times fa-1x"></i>
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group mt-3">
        <label for="username">Username</label>
        <input type="text"
        placeholder="Username"
          class="form-control"
          formControlName="username" />
      </div>
      <div class="form-group">
        <label class="mr-2" for="password">Passwords</label>
        <input #passwordField
        type="password"
        placeholder="Kata sandi"
        class="form-control contoh mr-2"
        formControlName="password">
        <span (click)="passwordField.type=passwordField.type=='password'?'text':'password'"
          class="fa fa-fw field-icon toggle-password"
          [ngClass]="(passwordField.type=='password')?' fa-eye':' fa-eye-slash'"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success mr-3 mb-3 mt-3"
      [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>

<ngx-spinner></ngx-spinner>
