<div
  class="page-header"
  data-parallax="true"
  style="background-image: url('./assets/img/homepage.jpg')"
>
  <div class="container">
    <div class="motto font-weight-bold text-center">
      <h1>Perlombaan 17 Agustus</h1>
      <h3>Lomba-lomba seru 17 agustus menantimu !</h3>
      <br />
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div data-aos="fade-down" class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Tentang kami</h2>
          <h5 class="description">
            Dalam rangka merayakan kemerdekaan Indonesia, Gubernur Jakarta ingin
            merayakannya dengan Perlombaan Olahraga. Kita harus berolahraga agar
            sehat sentosa. Beberapa perlombaan yang dilaksanakan diantaranya
            lomba Renang, lomba Basket, lomba lari, dan lomba-lomba lainnya yang
            diikuti oleh ratusan peserta (masyarakat umum). Pemenang lomba
            mendapatkan tropi juara, sertifikat, serta Hadiah.
          </h5>
          <br />
        </div>
      </div>
      <br /><br />

      <div data-aos="fade-left" class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Tahapan Perlombaan</h2>
          <br />
        </div>
      </div>
      <div data-aos="fade-left" class="row">
        <div class="col-md-3 mb-5">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-sign-in-alt"></i>
            </div>
            <div class="description">
              <h4 class="info-title">1. Daftar</h4>
              <p class="description">Daftarkan dirimu atau tim-mu</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-mouse-pointer"></i>
            </div>
            <div class="description">
              <h4 class="info-title">2. Pilih</h4>
              <p>Pilih lomba yang ingin kamu atau tim-mu ikuti</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-futbol"></i>
            </div>
            <div class="description">
              <h4 class="info-title">3. Ikuti</h4>
              <p>
                Ikuti lomba yang kamu pilih.Lihat detail waktu dan lokasi lomba
                yang kamu pilih agar tidak terlewatkan.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fas fa-trophy"></i>
            </div>
            <div class="description">
              <h4 class="info-title">4. Pemenang</h4>
              <p>Pemenang masing-masing lomba akan diberitahukan di website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-danger text-center pt-3">
    <div data-aos="fade-right" class="container pb-3">
      <div class="col-md-8 mr-auto ml-auto pb-3">
        <h2 class="title text-white">Ragam Perlombaan</h2>
        <br />
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="info">
            <div class="icon text-white">
              <i class="fas fa-futbol"></i>
            </div>
            <div>
              <h5 class="text-white">Sepakbola</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info">
            <div class="icon text-white">
              <i class="fas fa-basketball-ball"></i>
            </div>
            <div>
              <h5 class="text-white">Basket</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info">
            <div class="icon text-white">
              <i class="fas fa-running"></i>
            </div>
            <div>
              <h5 class="text-white">Maraton</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info">
            <div class="icon text-white">
              <i class="fas fa-biking"></i>
            </div>
            <div>
              <h5 class="text-white">Bersepeda</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info">
            <div class="icon text-white">
              <i class="fas fa-shuttlecock"></i>
            </div>
            <div>
              <h5 class="text-white">Bola Tenis</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="info">
            <div class="icon text-white">
              <i class="fas fa-swimmer"></i>
            </div>
            <div>
              <h5 class="text-white">Berenang</h5>
            </div>
          </div>
        </div>

        <div class="container text-white text-center mt-4">
          <h4 class="mb-2">
            .... dan masih banyak lagi ragam perlombaan lainnya !
          </h4>
          <p>Klik tombol di bawah ini untuk lihat perlombaan lainnya</p>
          <a routerLink="/tournament/list">
            <button
              type="button"
              class="btn btn-outline-neutral btn-round mt-3"
            >
              Lihat Lomba
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div data-aos="fade-up" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="assets/img/landing-page.png" alt="" />
        </div>

        <div class="col-md-6 text-center">
          <h2 class="custom-size">Tunggu apa lagi ?</h2>
          <h4>Segera daftarkan dirimu atau tim-mu sekarang !</h4>
          <a routerLink="/register/registerPeserta">
            <button type="button" class="btn btn-outline-danger btn-round mt-3">
              Daftar
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
