<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="text-white text-center">Silahkan Registrasi</h3>
            <form class="register-form" [formGroup]="signUpAdminForm" (ngSubmit)="signUpAdmin()">

              <label>Email</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <input formControlName="email" type="text" class="form-control" placeholder="Email" (focus)="focus=true"
                  (blur)="focus=false">
              </div>

              <label>Kata sandi</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <input formControlName="password" type="password" class="form-control" placeholder="Kata sandi"
                  (focus)="focus1=true" (blur)="focus1=false">
              </div>

              <label>Nama Pengguna</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <input formControlName="username" type="text" class="form-control" placeholder="Nama Pengguna"
                  (focus)="focus1=true" (blur)="focus1=false">
              </div>

              <label>Tanggal Lahir</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <input formControlName="birthdate" type="date" class="form-control" (focus)="focus1=true"
                  (blur)="focus1=false">
              </div>

              <label>No. Telefon</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <input formControlName="phone" type="text" class="form-control" placeholder="No. Telefon"
                  (focus)="focus1=true" (blur)="focus1=false">
              </div>

              <label>Roles</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <input formControlName="roles" type="text" class="form-control" placeholder="roles"
                  (focus)="focus1=true" (blur)="focus1=false">
              </div>

              <label>Distrik</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <input formControlName="districts" type="text" class="form-control" placeholder="Distrik"
                  (focus)="focus1=true" (blur)="focus1=false">
              </div>

              <button class="btn btn-danger btn-block btn-round">Daftar</button>

              <div class="forgot">
                <a href="#" class="btn btn-link btn-danger">Lupa password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
      </div>
    </div>
  </div>
</div>
