<div class=" container container-border">
  <div class=" text-center image-margin">
    <img class="mt-5 img-fluid custom-image" src="assets/img/round-account-button-with-user-inside.png" alt="">
    <h4>Nama User</h4>
  </div>

  <ul class="list-unstyled">
    <li class="m-3">
      <a routerLink='getPeserta/:id'>Profil Peserta</a>
    </li>
    <li class="m-3">
      <a routerLink='createTeam'>Membuat Team</a>
    </li>
    <li class="m-3">
      <a routerLink='registerTeam/:id'>Daftarkan Temanmu dalam Team!</a>
    </li>
  </ul>
</div>
