<h4>Total Participant Registered: {{ countTournamentParticipant }}</h4>

<a class="export-btn mb-4" style="cursor: pointer" (click)="exportexcel()">
  <button class="btn">Export to Excel</button>
</a>
<table id="excel-table" class="table text-center mt-2" style="width: 100%">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Categories</th>
      <th>Tipe Game</th>
      <th>Terdaftar</th>
      <th>Maksimum</th>
      <th>Umur</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let tournament of alltournament
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
        let i = index
      "
    >
      <td>{{ i + 1 }}</td>
      <td>{{ tournament.tournament_name }}</td>
      <td *ngIf="tournament.categories == 'single elimination'">
        S. Elimination
      </td>
      <td *ngIf="tournament.categories == 'free for all'">FFA</td>
      <td>{{ tournament.game }}</td>
      <td class="bgnormal" *ngIf="tournament.register_total_participant != 0">
        {{ tournament.register_total_participant }}
      </td>
      <td class="bgred" *ngIf="tournament.register_total_participant == 0">
        {{ tournament.register_total_participant }}
      </td>
      <td>{{ tournament.max_total_participant }}</td>
      <td>{{ tournament.age_minimum }}</td>
      <td>{{ tournament.is_started }}</td>
    </tr>
  </tbody>
</table>

<ngb-pagination
  [collectionSize]="alltournament.length"
  [(page)]="page"
  [maxSize]="5"
  [rotate]="true"
  [ellipses]="false"
  [boundaryLinks]="true"
></ngb-pagination>
