<div class="container-custom table-padding">
  <h3 class="title mt-0 pt-3 text-center mb-0">Pengaturan Perlombaan</h3>
  <h4 *ngIf="datatournament?.categories == 'single elimination'">
    Single Elimination
  </h4>
  <h4 *ngIf="datatournament?.categories == 'free for all'">Free for All</h4>
  <h5 *ngIf="datatournament?.categories == 'single elimination'">
    Round: {{ datatournament?.match_round }}
    <span *ngIf="lastround?.length == 2">(Last Round)</span>
  </h5>
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead class="bg-danger">
        <tr>
          <th class="align-middle">TEAM</th>
          <th class="align-middle" *ngIf="datatournament?.categories == 'free for all'">STATUS</th>
          <th class="align-middle" *ngIf="datatournament?.categories == 'single elimination'">SCORE</th>
          <th class="align-middle" *ngIf="datatournament?.categories == 'single elimination'">ROUND</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of datamatch" [class]="['match-' + match.match_round]">
          <td class="align-middle">{{ match.team?.team_name }}</td>
          <td class="align-middle" *ngIf="
      datatournament?.categories == 'free for all' &&
      match.isEliminate == false
    ">in Match</td>
          <td class="align-middle" *ngIf="
      datatournament?.categories == 'free for all' &&
      match.isEliminate == true
    ">Eliminated</td>
          <td class="align-middle" *ngIf="datatournament?.categories == 'single elimination'">
            {{ match?.score || 0 }}
          </td>
          <td class="align-middle" *ngIf="datatournament?.categories == 'single elimination'">
            {{ match?.match_round || 0 }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ul ngbNav #nav="ngbNav" class="nav-tabs mt-5">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Ubah Status Team</a>
      <ng-template ngbNavContent>
        <form class="register-form" [formGroup]="updateMatchForm" (ngSubmit)="submitScore()">
          <div class="form-group row">
            <div class="col-sm-3">
              <ng-select formControlName="team">
                <ng-option *ngFor="let match of dataTeamMatch" [value]="match.team?._id">{{ match.team?.team_name }}</ng-option>
              </ng-select>
            </div>
            <div class="col-sm-3" [ngClass]="{ 'input-group-focus': focus === true }"
              *ngIf="datatournament?.categories == 'single elimination'">
              <input formControlName="score" type="text" class="form-control mb-3" placeholder="Masukkan Nilai Disini"
                (focus)="focus = true" (blur)="focus = false" />
            </div>
            <div class="col-sm-3" *ngIf="datatournament?.categories == 'single elimination'">
              <a class="btn" (click)="updateScore()">Perbarui Nilai</a>
            </div>

            <div class="col-sm-3" *ngIf="datatournament?.categories == 'free for all'">
              <a class="btn" (click)="changeStatus()">Ubah Status Team</a>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" *ngIf="
              datatournament?.categories == 'single elimination' &&
              lastround?.length > 2
            " class="btn btn-primary margin-custom btn-block btn-round mt-3 btn-custom justify-content-center">
              Perbarui Pengaturan Nilai
            </button>
            <a (click)="createThirdWinner()" *ngIf="
              datatournament?.categories == 'single elimination' &&
              dataTeamMatch?.length == 2
            " class="btn btn-primary margin-custom btn-block btn-round mt-3 btn-custom justify-content-center">
              Buat Juara 3
            </a>
          </div>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Menentukan Pemenang Lomba</a>
      <ng-template ngbNavContent>
        <form class="register-form" [formGroup]="winnerForm" (ngSubmit)="winner()">
          <div class="row">
            <div class="col-sm-4" [ngClass]="{ 'input-group-focus': focus === true }">
              <label>Juara Pertama</label>
              <ng-select formControlName="first_winner">
                <ng-option *ngFor="let match of dataTeamMatch" [value]="match.team?._id">{{ match.team?.team_name }}</ng-option>
              </ng-select>
            </div>
            <div class="col-sm-4" [ngClass]="{ 'input-group-focus': focus === true }">
              <label>Juara Kedua</label>
                <ng-select formControlName="second_winner">
                  <ng-option *ngFor="let match of dataTeamMatch" [value]="match.team?._id">{{ match.team?.team_name }}</ng-option>
                </ng-select>
            </div>
            <div class="col-sm-4" [ngClass]="{ 'input-group-focus': focus === true }">
              <label>Juara Ketiga</label>
              <ng-select formControlName="third_winner">
                <ng-option *ngFor="let match of dataTeamMatch" [value]="match.team?._id">{{ match.team?.team_name }}</ng-option>
              </ng-select>
            </div>
          </div>

          <button type="submit"
            class="btn btn-danger margin-custom btn-block btn-round mt-3 btn-custom justify-content-center">
            Perbarui Pemenang
          </button>
        </form>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
