td{
    font-weight: bold;
}

.match-1{
    background-color: #ed7268;
    color: #ffffff;
}
.match-2{
    background-color:#f29c95;
    color: #434041;
}
.match-3{
    background-color: #ed7268;
    color: #ffffff;
}
.match-4{
    background-color:#f29c95;
    color: #434041;
}
.match-5{
    background-color: #ed7268;
    color: #ffffff;
}
.match-6{
    background-color:#f29c95;
    color: #434041;
}
.match-7{
    background-color: #ed7268;
    color: #ffffff;
}
.match-8{
    background-color:#f29c95;
    color: #434041;
}
.match-9{
    background-color: #ed7268;
    color: #ffffff;
}
.match-10{
    background-color:#f29c95;
    color: #434041;
}

