<h3 class="title mt-0 pt-3">Edit Tournament</h3>
<h4 *ngIf="datatournament?.categories == 'single elimination'">
  Single Elimination
</h4>
<h4 *ngIf="datatournament?.categories == 'free for all'">Free for All</h4>
<h5 *ngIf="datatournament?.categories == 'single elimination'">
  Round: {{ datatournament?.match_round }}
  <span *ngIf="lastround?.length == 2">(Last Round)</span>
</h5>

<table class="table table-hover text-center">
  <tr>
    <th>TEAM</th>
    <th *ngIf="datatournament?.categories == 'free for all'">STATUS</th>
    <th *ngIf="datatournament?.categories == 'single elimination'">SCORE</th>
    <th *ngIf="datatournament?.categories == 'single elimination'">ROUND</th>
  </tr>
  <tr *ngFor="let match of datamatch" [class]="['match-' + match.match_round]">
    <td>{{ match.team?.team_name }}</td>
    <td
      *ngIf="
        datatournament?.categories == 'free for all' &&
        match.isEliminate == false
      "
    >
      in Match
    </td>
    <td
      *ngIf="
        datatournament?.categories == 'free for all' &&
        match.isEliminate == true
      "
    >
      Eliminated
    </td>
    <td *ngIf="datatournament?.categories == 'single elimination'">
      {{ match?.score || 0 }}
    </td>
    <td *ngIf="datatournament?.categories == 'single elimination'">
      {{ match?.match_round || 0 }}
    </td>
  </tr>
</table>

<form
  class="register-form"
  [formGroup]="updateMatchForm"
  (ngSubmit)="submitScore()"
>
  <div class="form-group row">
    <div class="col-sm-3">
      <select formControlName="team">
        <option *ngFor="let match of dataTeamMatch" [ngValue]="match.team?._id">
          {{ match.team?.team_name }}
        </option>
      </select>
    </div>
    <div
      class="col-sm-3"
      [ngClass]="{ 'input-group-focus': focus === true }"
      *ngIf="datatournament?.categories == 'single elimination'"
    >
      <input
        formControlName="score"
        type="text"
        class="form-control mb-3"
        placeholder="Input score here.."
        (focus)="focus = true"
        (blur)="focus = false"
      />
    </div>
    <div
      class="col-sm-3"
      *ngIf="datatournament?.categories == 'single elimination'"
    >
      <a class="btn" (click)="updateScore()">update score</a>
    </div>

    <div class="col-sm-3" *ngIf="datatournament?.categories == 'free for all'">
      <a class="btn" (click)="changeStatus()">Change Status</a>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button
      type="submit"
      *ngIf="
        datatournament?.categories == 'single elimination' &&
        lastround?.length > 2
      "
      class="btn btn-primary margin-custom btn-block btn-round mt-3 btn-custom justify-content-center"
    >
      Update Manage Score
    </button>
    <a
      (click)="createThirdWinner()"
      *ngIf="
        datatournament?.categories == 'single elimination' &&
        dataTeamMatch?.length == 2
      "
      class="btn btn-primary margin-custom btn-block btn-round mt-3 btn-custom justify-content-center"
    >
      Buat Juara 3
    </a>
  </div>
</form>

<form class="register-form" [formGroup]="winnerForm" (ngSubmit)="winner()">
  <div class="row">
    <div class="col-sm-4" [ngClass]="{ 'input-group-focus': focus === true }">
      <label>First Winner</label>
      <select formControlName="first_winner">
        <option *ngFor="let match of dataTeamMatch" [ngValue]="match.team?._id">
          {{ match.team?.team_name }}
        </option>
      </select>
    </div>
    <div class="col-sm-4" [ngClass]="{ 'input-group-focus': focus === true }">
      <label>Second Winner</label>
      <select formControlName="second_winner">
        <option *ngFor="let match of dataTeamMatch" [ngValue]="match.team?._id">
          {{ match.team?.team_name }}
        </option>
      </select>
    </div>
    <div class="col-sm-4" [ngClass]="{ 'input-group-focus': focus === true }">
      <label>Third Winner</label>
      <select formControlName="third_winner">
        <option *ngFor="let match of dataTeamMatch" [ngValue]="match.team?._id">
          {{ match.team?.team_name }}
        </option>
      </select>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary margin-custom btn-block btn-round mt-3 btn-custom justify-content-center"
  >
    Update Winner
  </button>
</form>
