.sidenav {
  width: 12.5em;
  background-color: white;
}

.contoh{
  background-color: white;
}

@media only screen and (min-width: 768px) {
  mat-sidenav-content>mat-toolbar{
    display: none;
  }

  .change{
    height: 0;
    width: 0;
  }

  .sidenav {
    width: 250px;
  }

}
