<!-- <span>Are you sure want to approve it?</span>
<button type="button" class="btn btn-success" aria-label="Ongoing"
  (click)="changeStatusApproved()">Approve!
 </button> -->

<div class="container-custom">
  <h3 class="title mt-0 pt-3 text-center mb-0">Apakah Anda Yakin Ingin Menyetujui Peserta Tersebut ?</h3>
  <div class="form-padding text-center">
    <button type="button" class="btn btn-success" aria-label="Ongoing" (click)="changeStatusApproved()">Setuju
    </button>
    <button type="button" class="btn btn-success" aria-label="Ongoing" [routerLink]="['/panitia/panitiaLayout/dataPeserta']">Batal
    </button>
  </div>
</div>
