<div class="container-custom">
  <h3 class="title mt-0 pt-3 text-center mb-0">Buat Tournamen</h3>
  <form
    class="form-padding"
    [formGroup]="createTournamentForm"
    (ngSubmit)="createTournament()"
  >
    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Nama tournament :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="tournament_name"
          type="text"
          class="form-control mb-3"
          placeholder="Tournament name"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Permalink :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="permalink"
          type="text"
          class="form-control mb-3"
          placeholder="Deskripsi"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Game :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="game"
          type="text"
          class="form-control mb-3"
          placeholder="game"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Kategori :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="categories"
          type="text"
          class="form-control mb-3"
          placeholder="Kategori"
          (focus)="focus1 = true"
          (blur)="focus1 = false"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Maksimum pendaftar :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="max_total_participant"
          type="text"
          class="form-control mb-3"
          placeholder="maksimum total participant"
          (focus)="focus1 = true"
          (blur)="focus1 = false"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Umur minimal :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="age_minimum"
          type="text"
          class="form-control mb-3"
          placeholder="age_minimum"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Deskripsi :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <angular-editor
          formControlName="description"
          type="text"
          class="mb-3"
          placeholder="Deskripsi"
          (focus)="focus = true"
          (blur)="focus = false"
          [config]="editorConfig"
        ></angular-editor>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Upload gambar :</label>
      <div class="col-md-8 col-sm-10">
        <button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)" />
        <div
          class="image-preview"
          *ngIf="
            imagePreview !== '' &&
            imagePreview &&
            createTournamentForm.get('image').valid
          "
        >
          <img [src]="imagePreview" [alt]="createTournamentForm.value.title" />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">First Prize :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="first_prize"
          type="text"
          class="form-control mb-3"
          placeholder="first prize"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Second Prize :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="second_prize"
          type="text"
          class="form-control mb-3"
          placeholder="second_prize"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-sm-2 col-form-label">Third Prize :</label>
      <div class="col-md-8 col-sm-10" [ngClass]="{ 'input-group-focus': focus === true }">
        <input
          formControlName="third_prize"
          type="text"
          class="form-control mb-3"
          placeholder="third_prize"
          (focus)="focus = true"
          (blur)="focus = false"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-danger margin-custom btn-block btn-round mt-3 btn-custom justify-content-center"
      >
        Buat Tournament Baru
      </button>
    </div>
  </form>
</div>
