<h3 class="title mt-0 pt-3">Buat Tournamen</h3>
<form class="register-form" [formGroup]="createTournamentForm" (ngSubmit)="createTournament()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nama tournamen  :</label>
    <div class="col-sm-10" [ngClass]="{'input-group-focus':focus===true}">
      <input formControlName="tournament_name" type="text" class="form-control mb-3" placeholder="Tournament name" (focus)="focus=true"
      (blur)="focus=false">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Deskripsi :</label>
    <div class="col-sm-10" [ngClass]="{'input-group-focus':focus===true}">
      <input formControlName="description" type="text" class="form-control mb-3" placeholder="Deskripsi" (focus)="focus=true"
      (blur)="focus=false">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Total pendaftar :</label>
    <div class="col-sm-10" [ngClass]="{'input-group-focus':focus===true}">
      <input formControlName="total_participant" type="text" class="form-control mb-3" placeholder="total participant"
      (focus)="focus1=true" (blur)="focus1=false">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Umur minimal :</label>
    <div class="col-sm-10" [ngClass]="{'input-group-focus':focus===true}">
      <input formControlName="age_minimum" type="text" class="form-control mb-3" placeholder="age_minimum" (focus)="focus=true"
      (blur)="focus=false">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Kategori :</label>
    <div class="col-sm-10" [ngClass]="{'input-group-focus':focus===true}">
      <input formControlName="category" type="text" class="form-control mb-3" placeholder="Kategori"
      (focus)="focus1=true" (blur)="focus1=false">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Distrik :</label>
    <div class="col-sm-10" [ngClass]="{'input-group-focus':focus===true}">
      <input formControlName="districts" type="text" class="form-control mb-3" placeholder="Distrik" (focus)="focus=true"
      (blur)="focus=false">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Upload gambar :</label>
    <div class="col-sm-10">
      <input formControlName="images"  type="file" class="form-control-file" class="form-control-file form-control mb-3" placeholder="gambar" (focus)="focus=true"
      (blur)="focus=false">
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary margin-custom btn-block btn-round mt-3 btn-custom justify-content-center">Buat panitia baru</button>
  </div>
</form>



