input[type="file"]{
    display: none;
}

.image-preview{
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img{
    height: 100%;
}

.angular-editor .angular-editor-wrapper .angular-editor-textarea{
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .btn-custom{
    width: 50%;
  }
}

