<nav class="navbar navbar-expand-md bg-dark sticky-top" (scroll)="onWindowScroll($event)">
  <div class="container">

    <a class="navbar-brand" routerLink="home"> <img src="assets/img/logo2.png" class="img-fluid logo mr-2" alt="">CAL</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/tournament/list">
            <i class="fas fa-futbol"></i> Perlombaan
          </a>
        </li>

        <li  class="nav-item mr-2 ml-md-0 ml-2">
          <a  class="margin-custom">
            <button *ngIf='!this.tokenService.isLogin' class="btn btn-round btn-outline-neutral btn-sm margin-custom"
              (click)="openFormModal()">Masuk</button>
          </a>
        </li>

        <li  class="nav-item ml-md-0 ml-2">
          <a  class="margin-custom" routerLink="/register/registerPeserta">
            <button *ngIf='!this.tokenService.isLogin' class="btn btn-round btn-outline-neutral btn-sm margin-custom">Daftar</button>
          </a>
        </li>

        <li  class="nav-item" >
          <div ngbDropdown class="dropdown" placement="bottom-right">
            <a *ngIf='this.tokenService.isLogin' class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              <i class="fas fa-user"></i> Profil
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
              <!-- <a *ngIf='this.userData.roles === "admin"' routerLink='/admin/layout/adminProfile/5fdf4e8b8670f62818b09d02' class="dropdown-item">Admin Dashboard</a> -->
              <a *ngIf='authDecoded?.roles == "admin"' [routerLink]="['/admin/layout/adminProfile/', authDecoded?.id]" class="dropdown-item">Admin Dashboard</a>
              <a *ngIf='authDecoded?.roles == "lurah"' [routerLink]="['/lurah/lurahLayout/getLurah/', authDecoded?.id]" class="dropdown-item">Lurah Dashboard</a>
              <a *ngIf='authDecoded?.roles == "panitia"' [routerLink]="['/panitia/panitiaLayout/getPanitia/', authDecoded?.id]" class="dropdown-item">Panitia Dashboard</a>
              <a *ngIf='authDecoded?.roles == "peserta"' [routerLink]="['/peserta/pesertaLayout/getPeserta/', authDecoded?.id]" class="dropdown-item">Peserta dashboard</a>
              <a *ngIf='this.tokenService.isLogin' (click)="this.userService.logout()" class="dropdown-item">Logout</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- <ul class="navbar-nav mr-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register/registerAdmin">
              Tertarik menjadi admin ?
          </a>
        </li>
      </ul> -->

    </div>
  </div>
</nav>



<!-- <a routerLink='home'>home</a>
<a routerLink='login'>login</a>
<a routerLink='admin/layout'>admin</a>
<a routerLink='lurah/lurahLayout'>lurah</a> -->
