<div class="container-custom table-padding">
  <h3 class="title mt-0 pt-3 text-center mb-0">Mengatur Tournamen</h3>
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead class="bg-danger">
        <tr>
          <th class="align-middle">No</th>
          <th class="align-middle">Name</th>
          <th class="align-middle">Kategori</th>
          <th class="align-middle">Tipe Game</th>
          <th class="align-middle">Terdaftar</th>
          <th class="align-middle">Maksimum</th>
          <th class="align-middle">Umur</th>
          <th class="align-middle">Status</th>
          <th class="align-middle">Pengaturan Turnamen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tournament of allTournament; let i = index">
          <td class="align-middle">{{i+1}}</td>
          <td class="align-middle">{{tournament.tournament_name}}</td>
          <td class="align-middle" *ngIf="tournament.categories == 'single elimination'">S. Elimination</td>
          <td class="align-middle" *ngIf="tournament.categories == 'free for all'">FFA</td>
          <td class="align-middle">{{tournament.game}}</td>
          <td class="align-middle">{{tournament.register_total_participant}}</td>
          <td class="align-middle">{{tournament.max_total_participant}}</td>
          <td class="align-middle">{{tournament.age_minimum}}</td>
          <td class="align-middle">{{tournament.is_started}}</td>
          <td class="align-middle"><button type="button" class="btn btn-success" aria-label="Edit"
              [routerLink]="['/panitia/panitiaLayout/manageGame/', tournament._id, tournament.match_round ]"
              [disabled]="tournament.is_started == 'completed'">manage
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
