<div class="container-custom table-padding">
  <h3 class="title mt-0 pt-3 text-center mb-0s">Tabel Pengaturan Jenis Game</h3>
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead class="bg-danger">
    <tr>
      <th class="align-middle" scope="col">No</th>
      <th class="align-middle" scope="col">Name</th>
      <th class="align-middle" scope="col">Categories</th>
      <th class="align-middle" scope="col">Tipe Game</th>
      <th class="align-middle" scope="col">Terdaftar</th>
      <th class="align-middle" scope="col">Maksimum</th>
      <th class="align-middle" scope="col">Umur</th>
      <th class="align-middle" scope="col">Status</th>
      <th class="align-middle" scope="col">Manage Game</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tournament of allTournament; let i = index" >
    <td>{{i+1}}</td>
    <td>{{tournament.tournament_name}}</td>
    <td>{{tournament.categories}}</td>
    <td>{{tournament.game}}</td>
    <td>{{tournament.register_total_participant}}</td>
    <td>{{tournament.max_total_participant}}</td>
    <td>{{tournament.age_minimum}}</td>
    <td>{{tournament.is_started}}</td>
    <td><button type="button" class="btn btn-success" aria-label="Edit"
      [routerLink]="['/panitia/panitiaLayout/manageGame/', tournament._id, tournament.match_round ]" [disabled]="tournament.is_started == 'completed'">manage
     </button></td>
  </tr>
</tbody>
  <!-- <tr>
    <td>2</td>
    <td>basket01</td>
    <td>free for all</td>
    <td>basket</td>
    <td>P. PANGGANG</td>
    <td>pending</td>
  </tr> -->
    </table>
  </div>
</div>
