<div class="container">
  <h3 class="title mt-0 pt-3">Tabel Peserta</h3>
  <table class="table table-hover ">
    <thead class="table-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Email</th>
        <th scope="col">Nama Pengguna</th>
        <th scope="col">Tanggal lahir</th>
        <th scope="col">Distrik</th>
        <th scope="col">No telefon</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <tr>
        <th scope="row">1</th>
        <td>lurah2@gmail.com</td>
        <td>lurah2</td>
        <td>08-08-1980</td>
        <td>jakarta</td>
        <td>08125672422</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>lurah@email.com</td>
        <td>lurah1</td>
        <td>01-02-1995</td>
        <td>bandung</td>
        <td>08127482738</td>
      </tr>
    </tbody>
  </table>
</div>
