<div class="row">
  <div class="col-md-4" *ngFor="let tournament of tournamentData;">
    <div class="row">
      <div class="card shadow-sm mx-2 my-3">
        <img
          [src]="tournament.image"
          alt=""
          width="200px"
          class="card-img-top"
          style="cursor: pointer"
        />
        <div class="card-header bg-custom">
          <div class="card-title text-center border-bottom border-white">
            <h5>{{tournament.tournament_name}}</h5>
          </div>
          <div class="card-body text-center">
            <p class="card-text">deskripsi</p>
            <p class="card-text">waktu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
