<!-- <p>sidebar works!</p>

<ul>
  <li>
    <a *ngIf="this.userService.userPayloadValue.roles[0] == 'admin'" routerLink='createLurah'>create Lurah</a>
    <a *ngIf="this.userService.userPayloadValue.roles[0] == 'lurah'"routerLink='createPanitia'>create panitia</a>
  </li>
  <li>
    <a routerLink='getLurah'>get Lurah</a>
  </li>
  <li>
    <a routerLink='adminProfile'>Admin Profile</a>
  </li>
  <li>
    <a routerLink='createDistrict'>create district</a>
  </li>
  <li>
    <a routerLink='getDistrict'>get district</a>
  </li>
  <li>
    <a routerLink='getAllUser'>get users</a>
  </li>
</ul> -->
